<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <%= image_tag "Lock-Icon.png", class: "card-img-top", alt: "Lock" %>
      <div class="card-body">
        <h5 class="card-title">Secure</h5>
        <p class="card-text">Our secure databases make certain your financial information is kept safe.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <%= image_tag "wifi-icon.png", class: "card-img-top", alt: "Wifi" %>
      <div class="card-body">
        <h5 class="card-title">Convenient</h5>
        <p class="card-text">Access your financial information from anywhere with an internet connection.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <%= image_tag "money-icon.png", class: "card-img-top", alt: "Money" %>
      <div class="card-body">
        <h5 class="card-title">Powerful</h5>
        <p class="card-text">See where you are spending your money, and adjust your spending accordingly.</p>
      </div>
    </div>
  </div>
</div>
