<%= render 'shared/cards' %>

<div class="enter">
  <div class="row">
    <div class="col-sm-4 offset-sm-4 enter">
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-success btn-block"%>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 offset-sm-4 enter ">
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-lg btn-primary btn-block"%>
    </div>
  </div>
</div>
