<div class="container">

  <h4 align="center" id="logo">Finance Tracker</h4>

  <% if current_user  %>

  <div class="col-lg-6 col-offset-3">
    <%= link_to "Sign out", destroy_user_session_path, method: :delete,class: 'btn btn-secondary btn-block'  %>
  </div>

  <% else %>

    <div class="col-lg-6 col-offset-3">
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-success btn-block" %>

      <br>

      <%= link_to "Sign in", new_user_session_path, class: "btn btn-lg btn-primary btn-block" %>
    </div>

  <% end %>


</div>
