<h1>Please fill out all expenses in order to see your master expenses overview table.</h1>

<%= link_to 'Car Expenses', new_carexp_path %> |
<%= link_to 'Housing Expenses', new_housingexp_path %> |
<%= link_to 'Taxes', new_tax_path %> |
<%= link_to 'Home', root_path %> 
