<h1> This is the finances page </h1>

<table>
  <tr>
    <th></th>
    <th>Daily</th>
    <th>Weekly</th>
    <th>Biweekly</th>
    <th>Monthly</th>
    <th>Yearly</th>
  </tr>

  <tr id="housing">
    <td>Housing</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr id="car">
    <td>Car</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr id="groceries">
    <td>Groceries</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr id="taxes">
    <td>Taxes</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr id="other">
    <td>Other</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr id="totals">
    <td>Expense Totals</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr id = "remaining">
    <td>Remaining Income</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
