table {
    border-collapse: collapse;
}

td {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.variables {
  display: none;
}

table {

  font-size: 20px;

}

#remaining {

  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;

}

#remaining > td {

  padding: 2px;

}

#salary {

  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;

}
