.enter {

  margin: 25px;

}

#expensetracker{

  color: lightgray;
  margin-top: 15px;
  margin-bottom: 40px;

}

#modulepicker {

  margin-top: 20px;

}

#master {

  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 2px 2px lightblue;
  font-size: 40px;

}

#logo {

  text-transform: bold;
  font-size: 50px;
  margin-top: 20px;

}

#enter {

  margin: 10px;
  height: 70px;
  text-align: center;
  size: 40px;

}

.variables {
  display: none;
}

table {

  font-size: 16px;
  font-family: serif;

}

.index_total {

  font-weight: bold;

}

#salary {

  margin: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;

}

.title {
  text-align: center;
  color: gray;
  margin-bottom: 50px;
  text-decoration: overline;

}

#account {

 display: inline;

}
