.variables {
  display: none;
}

table {

  font-size: 20px;

}

.errors {

  margin: 5px;

}

.form{

  margin: 40px;

}

.icon {

  width: 100px;

}

.btn {

  margin: 10px;

}

.index_total {

  font-weight: bold;

}

#salary {

  margin: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;

}

#logo {
  text-align: center;
  font-size: 40px;
  margin: 30px;
  text-transform: capitalize;

}

#deviselinks {

  margin: 7px;

}

.title {
  text-align: center;
  color: #AEAEAE;
  margin-bottom: 50px;

}

#account {

  display: inline;

}
