<% if current_user%>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= link_to "Master Overview Page", root_path, class: 'navbar-brand btn btn-outline-primary btn-block', id: 'master' %>
  </div>
</div>

<% end %>
